---
import Header from "../components/Header.astro";
import "../style/style.css";
import Aboutvolunteerbuttom from "../components/Aboutvolunteerbutton.astro";
import Artistcard from "../components/Artistcard.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/banner.astro";
import Metahead from "../components/Metahead.astro";
import { createClient } from "@supabase/supabase-js";

import Normalbutton from "../components/Normalbutton.astro";
import Stagebutton from "../components/Stagebutton.astro";
import Ticketbutton from "../components/Ticketbutton.astro";
import Timer from "../components/Timer.astro";
import Volunteerform from "../components/Volunteerform.astro";

const supabaseUrl = "https://lknjocuybcipxwdjwhuf.supabase.co";
const supabaseKey = import.meta.env.SUPABASE;
const supabase = createClient(supabaseUrl, supabaseKey);

let { data } = await supabase.from("Kune_artist").select("*");
---

<Metahead titel="Components Overview">
  <header></header>
  <main>
    <h1>Components Overview</h1>
    <h2>Her ses er overblik over vores componenter</h2>

    <h3>Header og Footer</h3>
    <Header />
    <div class="gap"></div>
    <Footer />

    <h3>Knapper</h3>
    <div class="knapper">
      <Normalbutton variant="primary">SEE PROGRAM</Normalbutton>
      <Normalbutton variant="primary">GET YOUR TICKET NOW</Normalbutton>
      <Normalbutton variant="secondary">SEND</Normalbutton>
      <Ticketbutton />
    </div>
    <div class="stages">
      <Stagebutton stagetype="vessel">Vessel</Stagebutton>
      <Stagebutton stagetype="space">Space</Stagebutton>
      <Stagebutton stagetype="astral">Astral</Stagebutton>
      <Stagebutton stagetype="beach">Beach</Stagebutton>
      <Stagebutton stagetype="amphi">Amphi</Stagebutton>
    </div>

    <h3>Animerede elementer</h3>
    <Banner />
    <Timer />

    <h3>Artist Card</h3>
    <div class="cardsview">
      {
        (data || []).map(({ name, country, stageimage, genre, image }) => (
          <Artistcard
            name={name}
            country={country}
            icon={stageimage}
            genre={genre}
            bg={image}
          />
        ))
      }
    </div>

    <h3>Forms</h3>
    <Volunteerform />
  </main>
  <footer></footer>
</Metahead>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10%;
  }
  .stages {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 40px;
    font-family: var(--font-head);
  }
  h2 {
    font-size: 25px;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  .gap {
    height: 3rem;
  }

  .cardsview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    gap: 3.5rem;
  }

  .knapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
</style>
